/* 
*****************************************
*********** Universal Styling ***********
*****************************************
*/
/* Containers */
.main-container {
    padding: 50px;
    background-color: rgb(243, 241, 241);
}

.centered {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
}

/* Text */
.subtext {
    font-size: 12px;
    line-height: 15px;
}

/* Positioning */
.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}

.text-center {
    text-align: center;
}

/* Buttons */
a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: inherit;
}

button {
    margin: 5px;
}

/* Side-by-side containers */
.side-by-side {
    display: flex;
}

.left-child,
.right-child {
    width: 50%;
    margin-right: 10px;
}

/* Linking to other pages */
.link-page {
    text-decoration: underline;
    color: grey;
}

/* 
*****************************************
*************** index.html **************
*****************************************
*/
.login-container {
    background-color: white;
    border: solid 1px #888;
    padding: 25px;
    width: 350px;
    height: 420px;
    box-sizing: border-box;
}

.left,
.right {
    position: absolute;
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left {
    left: 0;
}

.right {
    right: 0;
    background-color: rgb(243, 241, 241);
}

select,
input[type=text],
input[type=password] {
    min-width: 100%;
    margin: 5px 0px;
    border-radius: 3px;
    border: 1px solid;
    padding: 10px 12px;
    display: inline-block;
}

input[type=checkbox] {
    margin: 5px 5px;
}

/* 
*****************************************
************** register.html *************
*****************************************
*/
.register-container {
    background-color: white;
    padding: 40px;
    max-width: 650px;
    max-height: auto;
    margin-left: auto;
    margin-right: auto;
}

.register-complete-btn {
    background-color: #FF5C00;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}